body {
    padding: 20px;
    padding-left:40px;
    font-family: 'Source Sans Pro', sans-serif;
}


.blog-footer {
    width: 100%;
    border-top: 1px solid gray;
    margin-top: 50px;
    padding-top: 10px;
}

.sidebar {
    float:left;
    width: 80px;
}

.main-section {
    float:left;
    margin-left: 100px;
    max-width: 800px;
    width: 60%;
}

.page-wrapper:after {
  content: "";
  clear: both;
  display: table;
}

.blog-header {
    margin-bottom: 40px;
}

a.navlink {
    width: 100%;
    display:block;
    color:black;
}

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    margin-top: 0px;
}

img {
    width: 400px;
    max-width: 100%;
}

a {
    /*color: black;*/
    color: #9500ff;
    text-decoration:none;
}

h2 a {
    color: #00119c
}


.blog-header a {
        color: black;
}

